body {
  margin: 0;
  padding: 0;
  background-color: #e3f2fd;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header,
footer {
  height: 100px;
  background-color: #b2defe;
  line-height: 100px;
}

footer {
  background-color: #43b5fc;
}

.banner {
  height: 400px;
  background-color: #7ecbfd;
  line-height: 400px;
}

/* SECTION 1 */
.section-1 {
  overflow: hidden;
}

.section-1 nav {
  float: left;
  width: 30%;
  height: 500px;
  background-color: #43b5fc;
  line-height: 500px;
}

.section-1 article {
  float: left;
  width: 70%;
  height: 250px;
  background-color: #00a5fb;
  line-height: 250px;
}

.section-1 article:nth-of-type(2) {
  background-color: #0096fa;
}

/* SECTION 2 */
.section-2 {
  overflow: hidden;
}

.section-2 article {
  float: left;
  width: 33.3333%;
  height: 300px;
  background-color: #0088ec;
  line-height: 300px;
}

.section-2 article:nth-child(2) {
  background-color: #0076d9;
}

.section-2 article:nth-child(3) {
  background-color: #0064c6;
}

/* SECTION 3 */
.section-3 {
  overflow: hidden;
  padding: 5%;
  background-color: #00a6fc;
}

.section-3 .item {
  float: left;
  width: 23%;
  height: 200px;
  margin: 1%;
  border-radius: 5px;
  background-color: #0076d9;
  line-height: 200px;
}

@media (max-width: 1240px) {
  .container {
    width: 100%;
  }

  .section-2 article:nth-child(1),
  .section-2 article:nth-child(2) {
    width: 50%;
  }

  .section-2 article:nth-child(3) {
    display: none;
  }

  .section-3 .item {
    width: 31.3333%;
  }

  .section-3 .item:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-2 article:nth-child(1),
  .section-2 article:nth-child(2) {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .section-1 nav,
  .section-1 article {
    width: 100%;
    height: 200px;
    line-height: 200px;
  }

  .section-3 .item {
    width: 98%;
  }
}
